{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">Flask</a>
    </div>

{#    <!-- Collect the nav links, forms, and other content for toggling -->#}
{#<div class="navbar navbar-inverse" role="navigation">#}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ url_for('main.index') }}">主页 <span class="sr-only">(current)</span></a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('main.user',username=current_user.username) }}">个人资料</a></li>
          {% endif %}
        {% if current_user.can(Permission.MODERATE_COMMENTS) %}
        <li><a href="{{ url_for('main.moderate') }}">管理评论</a> </li>
        {% endif %}

      </ul>

      <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.edit_profile') }}">编辑</a></li>
              <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
          {% else %}
            <li><a href="{{ url_for('auth.login') }}">登录</a></li>
            <li><a href="{{ url_for('auth.register') }}">注册</a></li>
          {% endif %}

      </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated and current_user.confirmed%}
            <div style="padding-top: 7px;padding-right: 40px ;">
            <a href="{{ url_for('.user',username=current_user.username) }}">
            <img  src="{{ current_user.gravatar(size=36) }}" style="padding-right: 20px"></a>
            <a href="{{ url_for('.user',username=current_user.username) }}">{{ current_user.username }}</a>
            </div>
        {% endif %}
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">

        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

